{% extends 'master.html' %}

{% block title %}
    <title>Home</title>
{% endblock %}


{% block content %}


<h1 class="text-center text-danger">Welcome to Django</h1>
    <p class="text-success"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae consequatur culpa eaque enim, exercitationem fugiat impedit in iusto laudantium quia ullam unde voluptatem. Dolores error mollitia non perspiciatis voluptatum?</span><span>Accusantium, numquam, praesentium! Eos inventore quibusdam velit veritatis voluptates voluptatibus! Architecto blanditiis deserunt dicta doloremque esse facilis, fugit iure minus nam, neque non officiis quam quisquam ratione similique ullam voluptatem?</span><span>A, ad assumenda consequuntur error esse laudantium nostrum obcaecati provident! Accusamus aliquam, animi aperiam assumenda consequuntur dolor eius enim ex fuga illo in iste itaque magnam nam quae quam, quasi.</span></p>




{% endblock %}


